*.txt
*.log
*.wlf
*.vstf
*.mcomp
*.scomp
*.stran
*.mtran
*.mr
*.pvl
*.syn
*.nfs*
transcript
work
*_work
./work/*
./analyzed/*
./mapped/*
./mapped_work/*
./reports/*
*~
*.bak
*.v
*.rep
Makefile

*.wav
